<head>
    <title>Register</title>
    <script>
	var shwetarkisdumb = 4;
	var shwetarksucksatcode = 1;
        function add_field()
        {
            var form = document.getElementsByTagName('form')[0],
            input = document.createElement('input');
			d = document.createElement('shwetarkisreallybadatcoding');
			d.innerHTML = '<br>Relative Phone ' + shwetarkisdumb + ": <input type=\"text\" name=\"shwetarkneedstolearntoactuallycode\">";
			shwetarkisdumb+=1;
			var tmp = form[2];
			for (var i = 0; i < shwetarksucksatcode; i++) tmp = tmp.nextSibling;
			form.insertBefore(d,tmp);
			shwetarksucksatcode+=1;
        };
    </script>
</head>

<body>
    <div class="wrapper">
        {{> navbar}}
    </div>
    <!--footers are for erudites-->
</body>

<template name="home">
	<h1 class="col-md-3">Hello.</h1>
</template>

<template name="profile">
    <form class="upd2">
<br><br>
        Name: <input type="text" name="name"><br>
         Address: <input type="text" name="address"><br><br><br>
      <input type="submit" value="Update information"><br>
    </form>
</template>
<template name="update">
    <form class="upd">
        Relative phone 1: <input type="text" name="one"><br>
        Relative phone 2: <input type="text" name="two"><br>
        Relative phone 3: <input type="text" name="three"> <br>
        Paramedic contact: <input type="text" name="four"> <br>
            <br><br><br>
        <button type="button" onclick="add_field()">Add Relative</button>
        <input type="submit" value="Update"><br>
    </form>
</template>
<template name="navbar">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ currentUser.emails.[0].address }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/update">Update Known Relatives</a></li>
                        <li id="logout"><a href="#">Logout</a></li>
                    </ul>
                </li>
				{{else}}
				<li><a href="/login">Login</a></li>
				<li><a href="/register">Register</a></li>
				<li>..</li><!--...-->
                {{/if}}
            </ul>
        </div>
    </nav>
</template>

<template name="login">
    <form class="form-horizontal loginForm">
        <div class="alert alert-danger" style="display: none;"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Login</button>
            </div>
        </div>
    </form>
</template>

<template name="register">
    <form class="form-horizontal registerForm">
        <div class="alert alert-danger" style="display: none;"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</template>